.techno-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.display-flex{display: flex}

.image-overflowing-br {
    position: bottom right !important;  
    background-position: bottom 100px right 0% !important; 
    background-size: auto 90% !important;
    background-repeat: no-repeat !important;
    background-clip: border-box !important; 
    overflow: visible !important; 
}

.image-overflowing-bl {
    position: bottom left !important;  
    background-position: bottom 50px left 0% !important; 
    background-size: auto 90% !important;
    background-repeat: no-repeat !important;
    background-clip: border-box !important; 
    overflow: visible !important; 
}

.text-justify {
    text-align: justify;
    text-justify : auto;
}

.manta-anim{
    position:absolute;
    width:181px;
    height: 129px;
    transform-origin: bottom right;
    bottom:-700px;
    right:900px;
}
.mticket-anim{
    position:absolute;
    height: 818px;
    width:748px;
    transform-origin: middle;
    bottom:-2600px;
    left:350px;
}