/* ================ General CSS =============== */

.align-content{
    align-content: center;
}

/* =================== Fonts ================== */

@font-face {
    font-family: 'Futura STD';
    src: url('../fonts/Futura/FuturaStdBook.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura STD';
    src: url('../fonts/Futura/FuturaStdBookOblique.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Futura STD';
    src: url('../fonts/Futura/FuturaStdHeavy.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Futura STD';
    src: url('../fonts/Futura/FuturaStdLight.otf') format('opentype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Futura STD';
    src: url('../fonts/Futura/FuturaStdLightOblique.otf') format('opentype');
    font-weight: lighter;
    font-style: italic;
}

/* =================== Text =================== */

.text-justify {
    text-align: justify;
    text-justify : auto;
}

.important-text{
    font-family: 'Futura STD';
    font-weight: normal;
    font-style: normal;
}

.font-weight-normal {
    font-weight: normal !important;
}
.font-weight-lighter {
    font-weight: lighter !important;
}
.font-weight-bold {
    font-weight: bold !important;
}

/* =================== Text Size =================== */

.logo-text{
    font-family: 'Futura STD';
    font-weight: bold;
    font-size: 40px;
}
.title-text{
    font-family: 'Futura STD';
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
}

.big-text{
    font-size: 22px;
    line-height: 26px;
}

@media (max-width: 1600px){

    .title-text{
        font-family: 'Futura STD';
        font-weight: bold;
        font-size: 28px;
        line-height: 36px;
    }

    .big-text{
        font-size: 18px;
        line-height: 24px;
    }
}

/* ================ Colors ================ */

:root {
    --base-color: rgb(170, 199, 91);
    color:rgb(29,31,17);
}
.color-dark-olive {color : rgb(46, 48, 24);}
.bg-dark-olive {background-color : rgb(46, 48, 24);}

.color-olive {color : rgb(99, 100, 61);}
.bg-olive {background-color : rgb(99, 100, 61);}

.color-highlight {color : rgb(134, 155, 76);}

.color-light-olive {color : rgb(223, 228, 205);}
.bg-light-olive {background-color:rgb(223, 228, 205);}

.color-lightest-olive {color : rgb(241, 243, 235);}
.bg-lightest-olive {background-color:rgb(241, 243, 235);}

b{color: rgb(99,100,61); font-weight: bold;}
p > b{color: rgb(99,100,61); font-weight: bold;}
a {color: rgb(99,100,61); font-weight: bold;}
a:hover, a:focus {color: rgb(146, 168, 86); font-weight: bold;}

/* ================ Background ================ */

.background-image-full{
    background-repeat: no-repeat;
    background-origin: middle middle;
    background-size: 100% auto;
    background-position: 50% 50%;
}

.bg-tl{
    background-origin: top left !important;
    background-position: top left !important;
}
.bg-br{
    background-origin: bottom right !important;
    background-position: bottom right !important;
}
.bg-bc{
    background-origin: bottom center !important;
    background-position: bottom center !important;
}
.bg-cr{
    background-origin: center right !important;
    background-position: center right !important;
}

.bg-light-gray-semi{
    background-color: #dbdbdbd9 !important;
}
.bg-white-semi{
    background-color: #ffffffd9 !important;
}


/* ================ Buttons ================ */
.btn.btn-olive {background: rgb(99,100,61); border-color: rgb(99,100,61); color: rgb(235,239,219);}
.btn.btn-olive:hover, .btn.btn-olive:focus {background: transparent; color: rgb(99,100,61)}