


@media (width > 1250px) {

    .image-overflowing-br {
        /* position: bottom right !important;   */
        background-position: bottom 100px right 0% !important; 
        background-size: auto 85% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    .image-overflowing-bl {
        /* position: bottom left !important;   */
        background-position: bottom 100px left 0% !important; 
        background-size: auto 85% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    
    .bg-olive-over-image{
        background-color: rgba(223, 228, 205, 0.0);
    }
}

@media (width <= 1250px) {

    .image-overflowing-br {
        /* position: bottom right !important;   */
        background-position: center right !important; 
        background-size: 150% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    .image-overflowing-bl {
        /* position: bottom left !important;   */
        background-position: center left !important; 
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    .bg-olive-over-image{
        background-color: rgba(223, 228, 205, 0.75);
    }
}

.techno-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.manta-anim{
    position:absolute;
    width:181px;
    height: 129px;
    transform-origin: bottom right;
    object-position: bottom right;
}
.mticket-anim{
    position:absolute;
    height: 818px;
    width:748px;
    transform-origin: middle;
    bottom:-2700px;
    left:350px;
}