


@media (width > 1300px) {

    .image-overflowing-br {
        /* position: bottom right !important;   */
        background-position: bottom 100px right 0% !important; 
        background-size: auto 85% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    .image-overflowing-bl {
        /* position: bottom left !important;   */
        background-position: bottom 100px left 0% !important; 
        background-size: auto 85% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    
    .bg-light-olive-over-image{
        background-color: rgba(223, 228, 205, 0.0);
    }
    .bg-lightest-olive-over-image{
        background-color: rgba(241, 243, 235, 0.0);
    }
}

@media (width <= 1300px) {

    .image-overflowing-br {
        /* position: bottom right !important;   */
        background-position: center right !important; 
        background-size: 150% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    .image-overflowing-bl {
        /* position: bottom left !important;   */
        background-position: top right !important; 
        background-size: 125% !important;
        background-repeat: no-repeat !important;
        background-clip: border-box !important; 
        overflow: visible !important; 
    }
    .bg-light-olive-over-image{
        background-color: rgba(223, 228, 205, 0.75);
    }
    .bg-lightest-olive-over-image{
        background-color: rgba(241, 243, 235, 0.75);
    }
}



    
.intro-bg{
    background-color: rgba(241, 243, 235, 1.0);
}
 @media (max-width: 990px) {
    .intro-bg{
        background-color: rgba(241, 243, 235, 0.75);
    }
 }   
    

.techno-container {
    margin-top: 60px;
    margin-bottom: 60px;
}

.manta-anim{
    position:absolute;
    width:181px;
    height: 129px;
    transform-origin: bottom right;
    object-position: bottom right;
}
.mticket-anim{
    position:absolute;
    height: 818px;
    width:748px;
    transform-origin: middle;
    bottom:-2700px;
    left:350px;
}


/* info banner style 4 */
.banner-style4 figure {position: relative; cursor: pointer; overflow: hidden; transition-timing-function: ease-in-out; -moz-transition-timing-function: ease-in-out; -webkit-transition-timing-function: ease-in-out; -o-transition-timing-function: ease-in-out; -ms-transition-timing-function: ease-in-out; transition-duration: .2s; -moz-transition-duration: .2s; -webkit-transition-duration: .2s; -o-transition-duration: .2s; -ms-transition-duration: .2s;}
.banner-style4 figure figcaption{position: absolute; left: 0; top: 60%; transform: translateY(-50%); -webkit-transform: translateY(-50%); -moz-transform: translateY(-50%); -ms-transform: translateY(-50%); -o-transform: translateY(-50%); height: 100%; width: 100%; opacity: 0;}
.banner-style4 figure:hover figcaption {opacity: 0.85; top: 50%}
.banner-style4 figure:hover .banner-image img, .banner-style4 figure:hover .banner-image {opacity:0.3;}